:root {
    --dark-red: #672714;
    --green-grey: #bcb19b;
    --light-red: #aa3d1d;
    --eggshell: #f3efe7;
    --light-beige: #f1e3c8;
    --dark-green: #393d32;
    --medium-green: #676758;
    --light-green: #95907d;
  }
  
  @font-face {
    font-family: "Futura";
    src: url("assets/FuturaBookfont.ttf");
  }
  
  .nav-bar {
    top: 0;
    left: 0;
  }
  
  .navbar-container {
    font-family: "Futura";
    display: flex;
    justify-content: center;
    background-color: var(--dark-green);
    padding: 1.5rem;
  }
  
  .navbar-logo p {
    color: var(--light-beige);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
  }

  .upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .photo-preview-container {
    margin-top: 20px;
  }
  
  /* .photo-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }   */

  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .photo-item {
    position: relative;
    display: inline-block;
  }
  
  .photo-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .delete-photo-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
  }
  

  /* Extra small devices (phones, less than 576px) */
  @media (max-width: 575px) {
    .navbar-logo p {
      font-size: 10px;
      width: 100%;
    }

  }
  
  /* Small devices (tablets, 576px and up) */
  @media (min-width: 576px) and (max-width: 829px) {
    .navbar-logo p {
      font-size: 10px;
    }
  
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1599px) {
    .navbar-logo p {
      font-size: 16px;
    }
  
  }
  
  /* Extra-extra large devices (4K screens, 1600px and up) */
  @media (min-width: 1600px) {
    /* Styles for extra-large screens and high-res monitors */
  }
  